<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="PasswordLayout">
        <h2 class="PasswordText">PASSWORD</h2>
        <form action="/password" method="POST">
            <div class="OldPasswordLayout">
                <label for="username">Old Password</label>
                <input class="PasswordTextBox" type="text" id="username" name="username" required>
            </div>
            <div class="NewPasswordLayout">
                <label for="password">New Password</label>
                <input class="PasswordTextBox" type="password" id="password" name="password" required style="width: 33.5rem;">
            </div>
            <div class="ChangePasswordButton">
                 <button class="ChangePassword" type="submit">Change Password</button>
            </div>
        </form>
        
    </div>
</body>
</html> 