<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Cookies Policy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="privacy-container">
        <div class="privacy-title">Our Cookies Policy  </div>
        <ul class="privacy-list3">
            <li>Once you agree to allow our website to use cookies, you also agree to use the data it collects regarding your online behavior.</li>
            <li>The data we collect by using cookies is used to customize our website to your needs. After we use the data for statistical analysis, the data is completely removed from our systems.</li>
            <li>Please note that cookies don’t allow us to take control over your system. </li>
            <li>They are strictly used to monitor which pages you find useful and which you don’t so that we can provide a better experience for you.</li>
            <li>If you want to disable cookies, you can do it by accessing the settings of your internet browser. You can visit internetcookies.com, which contains comprehensive information on how to do this on a whole variety of browsers and devices.</li>
        </ul>
    </div>
    
    </body>
</body>
</html>