{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="Header">HACKATHON</div>
        <div class="ImportantDates"><h2>IMPORTANT DATES</h2></div>
        <div class="ContentGrid">
            <div class="CommitteeMembers"><h2>Committee Members</h2></div>
            <div class="Gallery"><h2>Gallery</h2></div>
            <div class="Sponsors"><h2>Sponsors</h2></div>
            <div class="CallforParticipation"><h2>Call For Participation</h2></div>
            <div class="MessagefromChairperson"><h2>Message from Chairperson</h2></div>
            <div class="Volunteers"><h2>Volunteers</h2></div>
            <div class="ContactUs"><h2>Contact Us</h2></div>
            <div class="AboutUs"><h2>About Us</h2></div>
        </div>
    </div>
    
    <div class="ChatSection">
        <div class="ChatTitle"><h2>Chats</h2></div>
    </div>
{% endblock %}
