{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="LoginLayout">
        <h2 class="LoginText">LOGIN</h2>
        <form action="/login" method="POST">
            <div class="UsernameLayout">
                <label for="username">Username</label>
                <input class="LoginTextBox" type="text" id="username" name="username" required>
            </div>
            <div class="PasswordLayout">
                <label for="password">Password</label>
                <input class="LoginTextBox" type="password" id="password" name="password" required>
            </div>
            <div class="RegisterText">
                <h2><a class="RegText" href="{{ url_for('register') }}">Register</a></h2>
                <!-- <h2><a class="ForgText" href="{{ url_for('change_password') }}">Forgot Password?</a></h2> -->
            </div>
            <button class="LoginButton" type="submit">LOGIN</button>
        </form>
    </div>
{% endblock %}
