<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="privacy-container">
        <div class="privacy-title">Privacy Policy</div>
        <div class="privacy-description">
            The privacy policy will help you understand how we use and protect the data you provide when you visit and use the website
        </div>
        <ul class="privacy-list">
            <li>User data we collect</li>
            <li>Why we collect your Personal data</li>
            <li>Our Cookies Policy</li>
            <li>Securing the Data</li>
            <li>Restricting the Collection of your Personal Data</li>
        </ul>
    </div>
    
    </body>
</body>
</html>