{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="ProfileLayout">
        <h2 class="ProfilePageText">User Profile</h2>
        
        <!-- Profile Submission Form -->
        <form id="profileForm" action="/profile" method="POST">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input class="ProfileTextBox" type="text" id="firstName" name="firstName" value="{{ profile.firstname }}" required style="width: 34.5rem;">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input class="ProfileTextBox" type="text" id="lastName" name="lastName" value="{{ profile.surname }}" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input class="ProfileTextBox" type="tel" id="phone" name="phone" value="{{ profile.phone_number }}" required>
            </div>
            <div class="form-group">
                <label for="institutionType">Type of Institution:</label>
                <input class="ProfileTextBox" type="text" id="institutionType" name="institutionType" value="{{ profile.type_of_institution }}" required>
            </div>
            <div class="form-group">
                <label for="institutionName">Name of Institution:</label>
                <input class="ProfileTextBox" type="text" id="institutionName" name="institutionName" value="{{ profile.name_of_institution }}" required>
            </div>
            <div class="form-group">
                <label for="pastCompetitions">Participated in Past Competitions:</label>
                <input class="ProfileTextBox" type="text" id="pastCompetitions" name="pastCompetitions" value="{{ profile.participated_in_past_competitions }}" required>
            </div>
            <div class="form-group">
                <label for="preferredLanguage">Preferred Coding Language:</label>
                <input class="ProfileTextBox" type="text" id="preferredLanguage" name="preferredLanguage" value="{{ profile.preferred_coding_language }}" required>
            </div>
            <div class="form-group">
                <label for="preferredIDE">Preferred IDE:</label>
                <input class="ProfileTextBox" type="text" id="preferredIDE" name="preferredIDE" value="{{ profile.preferred_ide }}" required>
            </div>
            <button class="ProfileButton" type="submit" style="background-color: red; color: white;">Submit</button>
        </form>
    </div>
{% endblock %}
