<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safeguarding and Securing the Data</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="privacy-container">
        <div class="privacy-title">Safeguarding and Securing the Data</div>
        <ul class="privacy-list2">
            <li>We are committed to securing your data and keeping it confidential.We have done everything in our power to prevent data theft, unauthorized access, and disclosure by implementing the latest technologies and software, which help us safeguard all the information we collect online.</li>
        </ul>
    </div>
    
    </body>
</body>
</html>