{% extends "base.html" %}

{% block title %}
    Settings
{% endblock %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="SettingsLayout">
        <div class="SettingsContainer">
            <button class="menu-button" onclick="location.href='{{ url_for('profile') }}'">Profile</button>
            <button class="menu-button" onclick="location.href='{{ url_for('privacy_policy') }}'">Privacy</button>
            <button class="menu-button" onclick="location.href='{{ url_for('change_password') }}'">Password</button>
            <button class="menu-button" >Notifications</button>
        </div>
        <a class="SettingsBackButton" href="{{ url_for('dashboard') }}">BACK</a>
    </div>
</body>
</html>
{% endblock %}
