<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User data we collect</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="privacy-container">
        <div class="privacy-title">User Data We Collect</div>
        <div class="privacy-description">
            When you visit the website, we may collect the following data:
        </div>
        <ul class="privacy-list">
            <li>Your IP Address.</li>
            <li>Your contact information and email address.</li>
            <li>Other info such as interests and preferences.</li>
            <li>Data profile regarding your online behavior on our website.</li>
        </ul>
    </div>
    
    </body>
</body>
</html>