<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why we collect your Personal Data</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="privacy-container">
        <div class="privacy-title">Why We Collect Your Personal Data</div>
        <ul class="privacy-list2">
            <li>To better understand your needs.</li>
            <li>To improve our services.</li>
            <li>To customize our website according to your online behavior and personal preferences.</li>
            <li>To send you promotional emails we think you will find interesting.</li>
        </ul>
    </div>
    
    </body>
</body>
</html>