@font-face {
    font-family: 'Aldrich';
    src: url(../fonts/Aldrich-Regular.ttf)format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family:'Aldrich', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(../images/wall-grey-background-world-map-the-continent-hd-wallpaper-preview.jpg);
    background-repeat:no-repeat ; /* Background image does not repeat*/
    background-size: cover;/* Background image cover screen*/
}

.LoginTextBox, .RegistrationTextBox, .PasswordTextBox {
    font-size: 2rem; 
    font-weight: bold; 
}

.LogRegLayout{
    padding-top: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Text1 {
    text-align: center;
    margin: 0;
    padding-top:2rem;
    font-size: 5.5rem;
}
h1{
    font-size: 4rem;
}
button {
    width: 2px;
    height:5rem;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3em;
    font-family:'Aldrich', sans-serif;
    opacity: 0.6;
}
.LogRegLoginButton {
    width: 20rem;
    background-color: #1B2C5D; 
    color: white;
}
.LogRegRegisterButton {
    width: 20rem;
    background-color: #B01212; 
    color: white;
}
button:hover {
    opacity: 0.9; /* Slightly Opaque on hover */
}




/*LoginPage CSS*/
.LoginLayout { 
    justify-content: center;
    align-items: center;
    text-align: center;

}

h2 {
    margin-bottom: 20px;
}
.LoginText{
    font-size: 5.5rem;
    padding:2rem;
}
.UsernameLayout, .PasswordLayout {
    margin-bottom: 2rem;
}
label {
    margin-left: 0;;
    margin-bottom: 5px;
    font-size: 3rem;
}
.LoginTextBox{
    width: 30%;
    height: 4rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.6;
}
.RegisterText{
    margin-top:-3rem;
    padding-left: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
}

.ForgText{
    padding-left: 15rem;
}

.RegText, .ForgText{
    color: white;
}

.RegText:hover, .ForgText:hover{
    color: #B01212;
}
.LoginButton{
    margin-left: 15rem;
    width: 20rem;
    background-color: #1B2C5D; 
    color: white;
}




/*RegistrationPage CSS*/
.RegistrationLayout {
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.RegisterPageText{
    font-size: 5rem;
    padding:1rem;
}
.RegistrationTextBox{
    width: 30%;
    height: 2rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.6;
}
.RegisterButton {
    margin-top: 3rem;
    width: 20rem;
    background-color: #B01212; 
    color: white;

}



/*ChangePassword CSS*/
.PasswordLayout {
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
}
.PasswordText{
    font-size: 5.5rem;
    padding:2rem;
}
.UsernameLayout, .PasswordLayout {
    margin-bottom: 2rem;
}
label {
    margin-left: 0;;
    margin-bottom: 5px;
    font-size: 3rem;
}
.PasswordTextBox{
    width: 30%;
    height: 2rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.6;
}

.ChangePassword{
    background-color: #1B2C5D; 
    color: white;
}

.ChangePassword{
   margin-left: 23rem;
    width: 30rem;
}
.ChangePasswordButton{
    padding-top: 4rem;
}










/*Dashboars CSS*/
.sidebar {
    background-color: #B01212;
    width: 8rem;
    height: 91%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 2rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    opacity: 0.6;
    
}
.sidebar:hover {
    opacity: 0.9; /* Slightly Opaque on hover */
}

.sidebar ,.Profile ,.Dashboard ,.Repositories ,.Appointments ,.Admin ,.Settings ,.Logout {
    margin: 20px 0;
    text-align: center;
    color: white;
}


.sidebar .Profile img, .Dashboard img, .Settings img ,.Repositories img,.Logout img,.Admin img {
    width: 3rem;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
    
}
.Logout {
    margin-top: 15rem;
}

/* Main Content */
.main-content {
    margin-left: 8rem; /* Adjust based on sidebar width */
    padding: 20px;
    color: white;
}

.Header {
    height: 4rem;
    width: 40%;
    margin-left: 30rem;
    background-color: #B01212;
    padding: 15px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    border-radius: 25px;
    opacity: 1;
}

.ImportantDates {
    height: 8rem;
    width: 80%;
    text-align: center;
    font-size: 20px;
    margin: 15px 4rem;
    background-color: #1B2C5D;
    padding: 10px;
    border-radius: 25px;
    
   
}

.ContentGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.CommitteeMembers {
    margin-left: 4rem;
    background-color: #1B2C5D;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    min-height: 120px;
}
.CallforParticipation {
    margin-left: 4rem;
    background-color: #1B2C5D;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    min-height: 120px;
}
.ContactUs {
    margin-left: 4rem;
    background-color: #1B2C5D;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    min-height: 120px;
}
.Sponsors {
    width: 23rem;
    margin-left: -14.5rem;
    background-color: #1B2C5D;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    min-height: 120px;
}
.Volunteers {
    width: 23rem;
    margin-left: -14.5rem;
    background-color: #1B2C5D;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    min-height: 120px;
}
.AboutUs{
    width: 23rem;
    margin-left: -14.5rem;
    background-color: #1B2C5D;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    min-height: 120px;
}
.Gallery {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 28rem;
    width: 41rem;
    background-color: #1B2C5D;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MessagefromChairperson {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #1B2C5D;
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    min-height: 100px;
    width: 39rem;
}

.ChatSection {
    background-color: #1B2C5D;
    padding: 15px;
    height: 79.5%;
    border-radius: 25px;
    width: 14rem; 
    position: absolute;
    right: 20px;
    bottom: 0;
    margin-bottom: 2rem;
    padding-left: 20px; 
    opacity: 0.6;
    color: white;
}

.ChatTitle {
    text-align: center;
    font-size: 18px;
}
.ImportantDates,.CommitteeMembers,.CallforParticipation,.ContactUs,.Gallery,.MessagefromChairperson,.Sponsors,.Volunteers,.AboutUs,.ChatSection{
    opacity: 0.6;
}
.ImportantDates:hover,.CommitteeMembers:hover,.CallforParticipation:hover,.ContactUs:hover,.Gallery:hover,.MessagefromChairperson:hover,.Sponsors:hover,.Volunteers:hover,.AboutUs:hover,.ChatSection:hover{
    opacity: 0.9; /* Slightly Opaque on hover */
    cursor: pointer;
}

/*ERROR CSS */
h1 {
    color: #ccc;
    margin-bottom: 20px;
    padding-bottom: 10rem;
}
.ErrorLayout{
    margin-top: 15rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ErrorButton{
    width: 25rem;
    background-color: #B01212; 
    color: white;
}

.flashes {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-content: center;
}
.flashes li {
    position: relative; /* For positioning the close button */
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    color: #fff; /* Text color */
    display: flex; /* For flexbox layout */
    text-align: center;
    border: 1px solid transparent; /* Border for consistent sizing */
}

.flashes li.positive {
    color: #28a745; /* Green for positive messages */
}

.flashes li.neutral {
    color: #ffc107; /* Orange for neutral messages */ 
}

.flashes li.negative {
    color: #dc3545; /* Red for negative messages */ 
}

.close {
    cursor: pointer; /* Change cursor to pointer on hover */
    font-weight: bold;
    margin-left: 10px; /* Space between message and close */
}

/* Profile Page CSS */
.ProfileLayout {
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2.ProfilePageText {
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.ProfileTextBox {
    width: 30%; /* Adjust the width as needed */
    height: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.8; /* Slightly more opaque for better visibility */
    font-size: 1.5rem; /* Adjust font size for profile inputs */
}

.ProfileButton {
    margin-top: 2rem;
    width: 15rem;
    background-color: #B01212; /* Red background */
    color: white;
    font-size: 2rem; /* Increase button text size */
    border: none;
    border-radius: 5px;
}

.ProfileButton:hover {
    opacity: 0.9; /* Slightly Opaque on hover */
}



/****AdminPanel CSS****/
.AdminPanelLayout {
    width: 100%;
    margin-top: 2rem;
}

h1{
    padding: 0;
    color:black;
    text-align: center;
}
.AddNewUserText{
    padding-left: 0;
    margin: 0;
}
.RefreshButton{
    width: 1rem;
    height: 1rem;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ccc;
    text-align: center;
    background-color: #1B2C5D;

}
th {/*Header cell in Table*/
    background-color: #f2f2f2;
    font-size: 1.5rem;
}
tr{/*row in cells*/
    padding:0;
}
.UsernameAdminPanel,.PasswordAdminPanel,.FirstNameAdminPanel,.FirstNameAdminPanel,.LastNameAdminPanel,.EmailAdminPanel,.PhoneAdminPanel,.InstitutionAdminPanel{
 padding: 0;
}
.AddUserButton {
    margin-left: 9rem;
    padding: 8px 12px;
    background-color:  #1B2C5D; 
    color: white;
    border: none;
    cursor: pointer;
    width: 20rem;
    height: 4rem;
}
    

.AddNewUserLayout{
    text-align: center;
    
}
/* Dropdown Button */
.ModifyButton {
    height: 2rem;
    font-size: 1rem;
    padding: 0;
    margin: 4px;
    background-color: #00c230; 
    color: white;
    width: 6rem;
    
}
  
  /* Dropdown button on hover & focus */
 .ModifyButton:focus {
    background-color: #B01212;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    margin-left: 106rem;
    display: none;
    position: absolute;
    background-color: #1B2C5D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


  

/********* View Profile CSS **********/

.ViewPofileLayout{
    margin-top: 1rem;
    width: 90%;
    height: 90vh;
    padding: 20px;
    background-color: #1B2C5D;
    color: #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0.9;
}
.ProfilePic {
    padding: 3rem;
    border-radius: 50%;
    margin: 0 auto;
}
.ProfilePic img{
    height: 10rem;
    width: 10rem;
}
h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: 500;
}
.InstitutionViewProfile{
    font-size: 2rem;
    color: #00c230;
}
.Email-Phone {
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 1.8rem;
    color: #888;
}
.EmailViewProfile{
    padding-right: 2rem;
}

.Info{
    font-size: 2rem;
}
.Info span {
    color: #aaa;
}
.Message {
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: center;
    font-size:2rem;
    color: #ddd;
}
.BackButton {
    width: 13rem;
    height: 5rem;
    background-color: #B01212;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    bottom: 5rem; 
    left: 8rem;
}




/********* Setting CSS ************/

.SettingsContainer{  
    margin-left: 43rem;
    margin-top: 1rem;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-button {
    width: 40%;
    background-color: #1B2C5D;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
}

.menu-button:hover {
    opacity: 0.9;
}
.SettingsBackButton {
    margin-left: 51rem;
    width: 13rem;
    height: 5rem;
    background-color: #B01212;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3rem;
  
}






/*Change Profile CSS*/
.ChangeProfileLayout {
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.ChangeProfileLayout label {
    font-size: 2rem; 
}

.ChangeProfileTextBox{
    width: 30%;
    height: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.6;
}
.ChangeProfileButtons{
    margin-top: 10rem;
    display: flex;
}
.ChangeProfileButton {
    width: 13rem;
    height: 4rem;
    background-color: #1B2C5D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    bottom: 6rem;
    right: 25rem;
  
}
.ChangeProfileBackButton {
    width: 13rem;
    height: 4rem;
    background-color: #B01212;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    bottom: 6rem;
    left: 25rem;
}






/************ Privacy Policy ************/
.privacy-container {
    margin-left: 15rem;
    margin-top: 5rem;
    color: #ddd;
    width: 70%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    opacity: 0.6;
}

.privacy-title {
    background-color: #B01212;
    color: #fff;
    font-size: 5rem;
    padding: 10px 20px ;
    border-radius: 10px;
    margin-top: -40px;
    display: inline-block;
    font-weight: bold;
}

.privacy-description {
    background-color: #1B2C5D;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0;
    font-size: 2rem;
    line-height: 1.5;
}


.privacy-list {
    background-color: #1B2C5D;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    margin: 0;
    font-size: 3rem;
    list-style-position: inside;
}
.privacy-list2 {
    background-color: #1B2C5D;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    margin-top: 2rem;
    font-size: 3rem;
    list-style-position: inside;
}
.privacy-list3 {
    background-color: #1B2C5D;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    margin-top: 2rem;
    font-size: 2.3rem;
    list-style-position: inside;
}
ul .privacy-list{
    margin-left: 10rem;
}

.privacy-list li {
    margin: 10px 0;
    padding-left: 20px;
}
